# /dev/block partitions
type bootloader_block_device, dev_type;
type ltalabel_block_device, dev_type;
type modem_block_device, dev_type;
type trim_area_partition_device, dev_type;

# /dev devices
type diag_device, dev_type;
type fm_device, dev_type;
type qmuxd_socket, dev_type;
type shared_log_device, dev_type;
type smd_device, dev_type;
type wlan_device, dev_type;
