# /dev/block partitions
type bootloader_block_device, dev_type;
type ltalabel_block_device, dev_type;
type modem_block_device, dev_type;
type trim_area_partition_device, dev_type;
