# /sys
type sysfs_glove_mode, fs_type, sysfs_type;
type sysfs_lights_effects, fs_type, sysfs_type;
type sysfs_mac_serial, fs_type, sysfs_type;
type sysfs_surfaceflinger, sysfs_type, fs_type;

# debugfs
type debugfs_asoc, debugfs_type, fs_type;

# /dev/socket
type tad_socket, file_type;
