#============= fsck_untrusted ==============
allow fsck_untrusted media_rw_data_file:dir getattr;
allow fsck_untrusted proc_swaps:file { getattr open read };
