#============= hal_graphics_composer ==============
allow hal_graphics_composer self:netlink_kobject_uevent_socket read;
allow hal_graphics_composer sysfs:file { getattr open read };
