allow hal_wifi_default wifihal_socket:dir rw_dir_perms;
allow hal_wifi_default wifihal_socket:sock_file create_file_perms;
allow hal_wifi_default proc_net:file w_file_perms;
