#============= init ==============
allow init camera_data_file:file getattr;
allow init fm_device:chr_file write;
allow init tmpfs:lnk_file create;
allow init wlan_device:chr_file write;
