#============= platform_app ==============
allow platform_app nfc_service:service_manager find;
allow platform_app sysfs_thermal:file { getattr open read };
