#============= system_server ==============
allow system_server crash_dump:process getpgid;
allow system_server diag_device:chr_file rw_file_perms;
allow system_server graphics_device:chr_file { ioctl open read write };
allow system_server mediaserver:process sigkill;
allow system_server sysfs_als:file write;
allow system_server sysfs_glove_mode:file rw_file_perms;
allow system_server sysfs_proximity_sensor:file write;
