type updatemiscta, domain;
type updatemiscta_exec, exec_type, file_type;

init_daemon_domain(updatemiscta)

unix_socket_connect(updatemiscta, tad, tad)

set_prop(updatemiscta, updatemiscta_prop)
